.profile-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
  padding: 100px;
  border-radius: 10px;
}
.profile-container-img {
  width: 130px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 20px;
  overflow: hidden;
  border: 4px solid #6c63ff;
}
.profile-container-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.rate {
  position: absolute;
  margin: auto;
  top: 300px; /* Sesuaikan posisi sesuai kebutuhan */
  right: 0;
  left: 0;
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 50px;
  animation: slideIn 0.5s ease-in-out;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #6c63ff;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  color: #6c63ff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}
.social-links a:hover {
  color: #333;
}